<!-- app/views/pages/home.html.erb -->
<div class="container">
  <h1>Welcome to Viennability!</h1>

  <div class="content-block">
    <p>
      Want to know more about the most livable city? You're in the right place!
    </p>
  </div>
</div>

