.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.custom-form {
  max-width: 900px; /* Adjust the maximum width of the form */
  width: 100%;
}

.vertical-align {
  text-align: center; /* Aligns content in the center horizontally */
}

.edit-header,
.edit-form {
  margin-bottom: 10px; /* Adjust the margin as needed */
}

.edit-form {
  text-align: left; /* Align the form to the left */
}

.back-link {
  margin-top: 10px; /* Adjust the margin as needed */
}


/* Add any additional styling as needed */
