<!-- app/views/podcasts/edit.html.erb -->

<!-- app/views/podcasts/edit.html.erb -->

<div class="center-container">
  <div class="vertical-align">
    <div class="edit-header">
      <h1>Edit Podcast</h1>
    </div>

    <div class="edit-form">
      <%= render 'form', podcast: @podcast %>
    </div>

    <div class="back-link">
      <%= link_to 'Back to Podcast', @podcast %>
    </div>
  </div>
</div>
