<!-- app/views/podcasts/index.html.erb -->
<h1>Podcasts</h1>

<ul>
  <% @podcasts.each do |podcast| %>
    <li>
      <%= link_to podcast.title, podcast_path(podcast) %>
      <p><%= podcast.description %></p>
    </li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <%= link_to 'Create New Podcast', new_podcast_path %>
<% end %>
