<div class="center-container">
  <div class="vertical-align">
    <div class="edit-header">
      <h1>New Podcast</h1>
    </div>

    <div class="edit-form">
      <%= render 'form', podcast: @podcast %>
    </div>

    <div class="back-link">
      <%= link_to 'Back', podcasts_path %>
    </div>
  </div>
</div>
